<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Plano de Comunicação - EBSERH</title>

    <!-- Bootstrap core CSS -->
    <link href="/|wi.proj.id|/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/|wi.proj.id|/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/|wi.proj.id|/assets/css/justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/|wi.proj.id|/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/|wi.proj.id|/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">
        	<img src="/|wi.proj.id|/assets/img/logo.png" />
        </h3>
        <nav>
          <ul class="nav nav-justified">
            <li class="active">
            	<a href="/|wi.proj.id|/publico/comunicacao.wsp">Home</a>
            </li>
            <li>
              <a href="/|wi.proj.id|/index.wsp" target="_sistema">Login</a>
            </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="row">
      		<div class="col-lg-12">
              <h3><strong>HOST / SERVIÇO: |tmp.serv.nom_servidor_nome|</strong></h3>
      			<div class="well">
        			<p class="lead">|tmp.serv.dsc_servidor_funcao|</p>
        			<em style="color:#696969">Publicado por: |tmp.serv.dsc_usuario_nome| - em |$df(|tmp.serv.dat_data_cadastro|,FMT, yyyy-MM-dd, dd/MM/yyyy)$|</em>
        		</div>
        		
              <h3>1. Descrição geral do servidor / serviço</h3>
        		<div class="well">
        		<h4>|tmp.serv.txt_servidor_descricao|</h4>
        		</div>
        		
        		<h3>2. Informações técnicas</h3>
        		<div class="well">
                  |$if(|tmp.serv.tip_servidor_tipo|==S,
                  <h4>        			
                      <div><strong>Sistema Operacional:</strong> |tmp.serv.dsc_sistema_descricao|</div>
                      <div><strong>Rede:</strong> |tmp.serv.dsc_servidor_rede|</div>
                      <div><strong>Nome DNS:</strong> |tmp.serv.nom_servidor_nome_dns|</div>
                      <div><strong>Discos Virtuais:</strong> |tmp.serv.num_servidor_disco|</div>
                  </h4>
                  )$|
                  |$if(|tmp.serv.tip_servidor_tipo|==P,
                  <h4>        			
                      
                    <div><strong>Rede:</strong> |tmp.serv.dsc_servidor_rede|</div>
                    <div><strong>Nome DNS / Endereço:</strong> |tmp.serv.nom_servidor_nome_dns|</div>
                      
                  </h4>
                  )$|
                  |$if(|tmp.serv.tip_servidor_tipo|==L,
                  <h4>                      
                    <div><strong>Rede:</strong> |tmp.serv.dsc_servidor_rede|</div>
                    <div><strong>Nome DNS / Endereço:</strong> |tmp.serv.nom_servidor_nome_dns|</div>
                      
                  </h4>
                  )$|
                  
        		</div>
        		
        		<h3>3. Potenciais riscos deste serviço</h3>
        		<div class="well">
        		<h4>
                  |$tf(|tmp.serv.txt_servidor_risco|, 2BR)$|        			
        		</h4>
        		</div>
        		
        		<h3>4. Matriz de Impacto/Urgência</h3>
        		<div class="well">
        		<h4>
        			<div>
                      <strong>Impacto:</strong> |$if(|tmp.serv.flg_servidor_impacto|==A,
                      								<span class="label label-danger">Alta</span>,
                      								|$if(|tmp.serv.flg_servidor_impacto|==M,
                      									<span class="label label-warning">Média</span>,
                      									<span class="label label-info">Baixa</span>
                      								)$|
                      							)$|
                      <br />
                      <br />
                  	</div>
        			<div>
                      <strong>Urgência:</strong> |$if(|tmp.serv.flg_servidor_urgencia|==A,
                      								<span class="label label-danger">Alta</span>,
                      								|$if(|tmp.serv.flg_servidor_impacto|==M,
                      									<span class="label label-warning">Média</span>,
                      									<span class="label label-info">Baixa</span>
                      								)$|
                      							)$|
                    </div>
        		</h4>
        		</div>
        		
        		<h3>5. Atuação do NOC</h3>
        		<div class="well">
        		<h4>
                  <div><strong>Possível solução de incidentes pelo NOC:</strong> |$if(|tmp.serv.flg_servidor_atuacao_noc|==S,<span class="label label-success">SIM</span>,<span class="label label-danger">NÃO</span>)$|</div>
        			<br />
                      	
                 |$tf(|tmp.serv.txt_servidor_noc_procedimento|, 2BR)$|
        		</h4>
        		</div>
        		
        		
        		<h3>5.1 Processo de escalação dos eventos</h3>
        		
        		<div class="page-header">
        			<div class="alert alert-danger" role="alert">
        				<button type="button" class="btn btn-lg btn-danger">Desastre e Alta</button>
      				</div>
      			</div>
      			<div class="row">
        			<div class="col-md-12">
          				|grid.aux_publica_escala_desastre|
        			</div>
       			</div>
       			
       			
       			
       			<div class="page-header">
        			<div class="alert alert-warning" role="alert">
        				<button type="button" class="btn btn-lg btn-warning">Média e Atenção</button>
      				</div>
      			</div>
      			<div class="row">
        			<div class="col-md-12">
          				|grid.aux_publica_escala_atencao|
        			</div>
       			</div>
      		</div>

          </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/|wi.proj.id|/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
